body{
background:#111;
color:white;
font-family:Arial, Helvetica, sans-serif;
margin:0;
}

/* MENU */
#menu{
    text-align:center;
    margin-top:8vh;
    position:relative;
    z-index:5;
}


.item{
font-size:38px;
padding:18px;
margin:12px auto;
width:60%;
background:#222;
border-radius:12px;
cursor:pointer;
}

/* PLAYER */
#player{
    position:fixed;
    inset:0;
    padding:2vh 3vw;
    box-sizing:border-box;
    grid-template-rows:auto 1fr auto;
    height:100vh;

    opacity:0;
    pointer-events:none;
    display:grid;
}


#top{text-align:center;}

#exercise{
font-size:5vh;
font-weight:600;
}

#phase{
font-size:2.5vh;
color:#aaa;
}

#middle{
display:grid;
grid-template-columns:60% 40%;
align-items:center;
}

#video{
max-width:95%;
max-height:60vh;
border-radius:18px;
}

/* TIMER */
.ring{
position:relative;
width:32vh;
height:32vh;
margin:auto;
}

#timer{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:9vh;
font-weight:bold;
}

.ring-bg{stroke:#333;fill:none;stroke-width:12;}
.ring-fg{stroke:#00e0ff;fill:none;stroke-width:12;stroke-linecap:round;stroke-dasharray:596;stroke-dashoffset:596;}

#globaltime{
text-align:center;
margin-top:2vh;
font-size:2.3vh;
color:#bbb;
}

#next{
text-align:center;
font-size:2.8vh;
margin-top:0.5vh;
}

/* BIG COUNT */
#bigcount{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:center;
font-size:22vw;
background:rgba(0,0,0,0.75);
opacity:0;
transition:.15s;
}
#bigcount.show{opacity:1}

/* CORES DE ESTADO */
body.work{background:#111;}
body.rest{background:#063a2d;}
body.final{background:#5a0000;}

/* COACH */
.coach{
margin-top:1vh;
padding:1.2vh 2vh;
border-radius:18px;
font-size:2.3vh;
max-width:70%;
margin-left:auto;
margin-right:auto;
}

.coach.dica{background:#003b6f;color:#7fd1ff;}
.coach.erro{background:#5a0000;color:#ff9b9b;}
.coach.cuidado{background:#5a4a00;color:#ffe38a;}
